.feature-title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2rem;
  color: var(--dark-blue-color);
}
.feature-desc-container {
  text-align: center;
  margin: 2rem 0rem;
}
.feature-desc {
  font-size: 1.5rem;
  line-height: 2rem;
}
.featured-properties {
  position: relative;
  padding: 5.5rem 0rem;
}
.view-more-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.container-feature {
  height: fit-content;
  margin: 1.5rem 0rem;
  padding: 0.5rem 1rem;
  background-color: var(--white-color);
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
.container-feature__inner img {
  width: 100%;
}
.container-product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem;
}

.product-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}
.product-desc {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--black-color);
  opacity: 0.8;
}
.container-product-type {
  margin: 0.25rem 0rem;
}
.product-price {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 768px) {
  .container-product-details {
    align-items: center;
    margin: 1rem 0;
  }
  .container-feature {
    margin: 1.5rem 0rem;
    padding: 0.5rem 1rem;
    background-color: var(--white-color);
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }

  .container-featured--properties {
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
  }
  .product-title {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .product-desc {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--black-color);
    opacity: 0.8;
  }
  .product-type {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .product-price {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--dark-blue-color);
  }
}
@media screen and (min-width: 1024px) {
  .container-featured--properties {
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
  }
  .product-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .product-desc {
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--black-color);
    opacity: 0.8;
  }
  .product-type {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .product-price {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--dark-blue-color);
  }
}
@media screen and (min-width: 1200px) {
  .container-featured--properties {
    width: 100%;
    justify-content: space-between;
  }
}
