.container-footer-inner {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
  padding: 2rem;
}
.container-slogan {
  max-width: 15rem;
}
.company-slogan {
  font-size: 1rem;
  line-height: 1.5rem;
}
.container-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.details-title {
  font-size: 1.5rem;
  line-height: 3rem;
}
.details-content {
  font-size: 1rem;
  line-height: 2rem;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .container-footer-inner {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 5rem 5rem;
  }
}
