.production__title {
  text-align: center;
  color: var(--dark-blue-color);
}
.production__content {
  text-align: center;
  color: var(--text-desc-color);
}
.production__container-items {
  margin: 3rem 0rem;
}
.production__container-item {
  margin: 2rem 0rem;
  padding: 15% 16%;
  background-color: var(--white-color);
}
.production__container-content {
  text-align: center;
}

.production-name-container {
  margin: 1rem 0rem;
}

.production-name-text {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .production__container-items {
    display: flex;
    width: 60rem;
    overflow-x: auto;
    gap: 1.5rem;
  }
  .production__container-item {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.75rem;
    width: 27.5rem;
  }
  .production__container-content {
    margin: 0rem 3rem;
  }
}
