.search-container {
  background-color: var(--white-color);
  margin: 0rem 1rem;
  padding: 2rem 3rem;
  border-radius: 1.75rem;
}
.dropdown {
  margin-bottom: 1rem;
}
.dropdown-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dropdown-text-title {
  font-size: 1.5rem;
  color: var(--dark-blue-color);
}
.dropdown-text-content {
  font-size: 1.25rem;
}
.dropdown-text-content {
  font-size: 1.25rem;
  color: var(--black-color);
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .search-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-self: center;
    margin: 0;
  }
  .search-btn {
    grid-column: 2;
  }
}
@media screen and (min-width: 1024px) {
  .search-btn {
    grid-column: 2;
    justify-self: center;
    width: fit-content;
  }
}
@media screen and (min-width: 1200px) {
  .search-container {
    margin: 0rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .search-btn {
    grid-column: 2;
  }
}
