@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Oleo+Script&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
  --blue-color: #2549d3;
  --dark-blue-color: #0f298b;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}
