.testimonials-title {
  text-align: center;
  color: var(--dark-blue-color);
}
.testimonials-desc-container {
  margin: 2rem 0rem;
}
.testimonials-desc {
  text-align: center;
  color: var(--text-desc-color);
}
.container-testimonials {
  width: fit-content;
  padding: 1.75rem;
  border-radius: 1rem;
  background-color: var(--white-color);
}
.client-name-text {
  font-size: 2rem;
  line-height: 2.25rem;
}
.client-body-container {
  margin-top: 1rem;
}
.client-body-content {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--black-color);
  opacity: 0.7;
}
.container-testimonials--properties {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .container-testimonials--properties {
    width: 38rem;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container-testimonials--properties {
    width: 60rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }
}
